node_modules
.env
book-a-meal-72459-firebase-adminsdk-csmsb-08ab87b617.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?